<html>
    <body>
        <nav>
            <a href="/">
                <button> Go to Home Page </button>
            </a>
            <a href="/about">
                <button> Go to About us page </button>
            </a>
            <a href="/shop">
                <button> Go to Shop Page </button>
            </a>
            <a href="/user">
                <button> Go to user Page </button>
            </a>
        </nav>
        <br>
        {% block body %}
        {% endblock body %}
    </body>
</html>